<header>
  <h1>一覧ページ</h1>
  <nav>
    <ul>
      <li><a href="top">トップに戻る</a></li>
    </ul>
  </nav>
</header>

<%= form_with(url: budgets_list_path, method: :get) do |form| %>
  <%= form.text_field :t, placeholder: "検索する金額を入力", value: params[:t]%>
  <%= form.submit "検索"%>
<% end %>


<% if flash[:success].present? %>
  <p><%= flash[:success] %></p>
<% end %>

<table border="1">
  <tr>
    <th>id</th>
    <th>金額</th>
    <th>日付</th>
    <th>収支の種類</th>
    <th>作成日時</th>
    <th>更新日時</th>
    <th>操作</th>
  </tr>

<% @finances.each do |finance| %>
  <tr>
    <td><%= link_to finance.id, budgets_detail_path(id: finance.id) %></td>
    <td><%= finance.amount || "空のデータ" %> </td>
    <td><%= finance.date || "空のデータ" %></td>
    <td><%= finance.kind || "空のデータ" %></td>
    <td><%= finance.created_at.strftime('%Y年%m月%d日') %></td>
    <td><%= finance.updated_at.strftime('%Y年%m月%d日') %></td>
    <td><%= link_to "削除リンク", budgets_delete_path(id: finance.id), data: { turbo_method: :delete } %></td>
     <td><%= link_to "編集リンク", budgets_edit_path(id: finance.id) %></td>
  </tr>
  <% end %>

</table>